<%= form_for([ @user, @digitalfile ]) do |f| %>
  <% if @digitalfile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@digitalfile.errors.count, "error") %> prohibited this digitalfile from being saved:</h2>

      <ul>
      <% @digitalfile.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  
  <div>
	<%= f.file_field :mp3 %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
