<!DOCTYPE html>
<html>
<head>
  <title>Codey</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script> 
  <%= javascript_include_tag 'jquery.backstretch.min' %>
  
  <%= csrf_meta_tags %>
</head>
<body>
  <ul class="hmenu">
    <%= render 'devise/menu/registration_items' %>
    <%= render 'devise/menu/login_items' %>
    <%= render 'devise/menu/profile_items' %>
  </ul>
  <%- flash.each do |name, msg| -%>
    <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
  <%- end -%>

<%= yield %>

<% if @user.photo.exists? then %>
	<div id="bg">		
		<a href="#"><img class="one" src="<%= @user.photo.url %>"></a>
	</div>
<% else %>
<p> There are no photo's attached, upload one. </p>
<% end %>

<script>	
	$(window).resize(function(){

		$('.box, img.loader').css({
			position:'absolute',
			left: ($(window).width() - $('.box').outerWidth())/2,
			top: ($(window).height() - $('.box').outerHeight())/2
			});
	});
	// To initially run the function:
	$(window).resize();
    </script>
    

<%= debug(params) if Rails.env.development? %>	
</body>
</html>
