<!DOCTYPE html>
<html>
<head>
  <title>Codey</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller_name -%> <%= controller_name -%>-<%= action_name -%>">
  <ul class="hmenu">
  	<%= render 'menus/admin_menu' %>
  </ul>
  <%- flash.each do |name, msg| -%>
    <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
  <%- end -%>

<%= yield %>

<%= render "shared/billboard"%>    

<%= debug(params) if Rails.env.development? %>	

<script>
$(window).resize(function(){

		$('.box').css({
			position:'absolute',
			left: ($(window).width() - $('.box').outerWidth())/2,
			top: ($(window).height() - $('.box').outerHeight())/2
			});
	});
	// To initially run the function:
	$(window).resize();
</script>

</body>
</html>
